body{
  position : absolute;
  width: 100%;
}
#stylehome{
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
#bg{
      background-image: url("images/sliderbg.jpg");
      background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}
    
    #menucard1{
      margin-left: 90px;
    }
    #moremenu{
      margin-left: 660px;
      width:200px;
      height:60px;
      padding:3px;
      border-radius: 30px;
      font-size: x-large;
    }
    .bg-img {
        background-image: url("Images/mainpic.png");
        height: 800px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
       position: relative;
      }
      #t{
          color: #faf3e0;
          font-size: larger;
          position: absolute;
          margin-left: 20px;
      }
      #p.align-right ul li{
          position: relative;
          float: right;
      }
      #alignnav{
          position:fixed;
      }
      
      #item:link, #item:visited {
       
        color: #0c0c0c;
        padding: 14px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      #item{
        margin: 10px;
        border-radius: 10px;
        font-size: 20px;
      }
      #item:hover, #item:active {
        background-color: #252535;
        color: #7868e6;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      #topic{
        text-align:center;
        font-family: 'Dancing Script', cursive;
        font-size: 110px;
        color: #faf3e0;
        padding:100px;
      }
      .btn-primary {
        background-color: #b8b5ff!important;
        border-color: #b8b5ff!important;
      }
      .btn-primary:any-link{
        box-shadow: 0 0 0 0.2rem rgba(222, 181, 255, 0.25)!important;
      }
      #image{
        height:100px;
        width:100px;
      }
      #about{
        background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
        font-size: x-large;
        padding:60px;
        font-style: normal;
        font-weight: normal;
    }
    #heading{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    .grid-container {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-gap: 30px;
    }
    .grid-child{
      background-color: #b8b5ff;
      color:#0c0c0c;
      border-radius: 10px;
      padding:30px;
      font-size:large;
    }
    .grid-child:hover{
      background-color: #7868e6;
    }
    .mm{
      text-align: center;
      font-family: 'Dancing Script', cursive;
        font-size: 110px;
        color: #7868e6;
    }
    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #b8b5ff;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }
    #menubutton{
      text-decoration: none;
      color: white;
    }
    #myBtn:hover {
      background-color: #1e212d;
    }
    .card-deck{

      padding: 50px;
      

    }
    .card{

      padding: 20px;
      

    }
